In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
from tqdm import tqdm
from sklearn.metrics import mean_squared_error

In [2]:
glob.glob('/home/tserekh/psw/*')

['/home/tserekh/psw/sample_submission.csv.zip',
 '/home/tserekh/psw/Xtest.csv.zip',
 '/home/tserekh/psw/train.csv.zip']

In [3]:
df_test = pd.read_csv('/home/tserekh/psw/Xtest.csv.zip',compression='zip')

In [4]:
df_test['Password'] = df_test['Password'].astype(str)

In [5]:
df_train = pd.read_csv('/home/tserekh/psw/train.csv.zip',compression='zip').dropna()

In [6]:
df_sample = pd.read_csv('/home/tserekh/psw/sample_submission.csv.zip',compression='zip')

In [7]:
import re

txt = "23111994"
re.match(r'^.*19..$', txt)

In [8]:
"\."

'\\.'

In [9]:
"^.*,"

'^.*,'

In [10]:
df = df_train.append(df_test)

/home/tserekh/env/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [11]:
r'^.*[a-z]$',
r'^.*[a-z]',
r'^[a-z]',

('^[a-z]',)

In [12]:
import re
 
str = "123456790abcdefABCDEF!@#$%^&*()_+<>?,./"
result = re.sub(r'[^a-zA-Z]', "", str)

In [19]:
vc = df['Password'].apply(lambda x: re.sub(r'[^a-zA-Z]', "", x).lower()).value_counts()

In [20]:
from collections import defaultdict

In [21]:
defaultdict(int,{'a':1})

defaultdict(int, {'a': 1})

In [33]:
freq_dict = vc.to_dict()

freq_dict = {key:value for key,value in freq_dict.items() if len(key)>=3 and value>50}

# freq_dict = defaultdict(int,freq_dict)

In [34]:
def mega_freq(x):
    x = x.lower()
    for key in freq_dict.keys():
        if key in x:
            return freq_dict[key]
    return 0

In [35]:
df['mega_freq'] = df['Password'].apply(mega_freq)

In [36]:
len(freq_dict)

4267

In [37]:
regexs = [#"[$&+,:;=?@#|'<>.^*()%!-]",
r'^.*[a-z]$',
r'^.*[a-z]',
r'^[a-z]',
r'^.*[A-Z]$',
r'^.*[A-Z]',
r'^[A-Z]',
r'^.*[0-9]$',
r'^.*[0-9]',
r'^[0-9]',
    r'^Q',
    r'^q',
    r'^.*123',
    r'^.*12',
    r'^.*abc',
    r'^.*ab',
        r'^.*19..$',
        r'^.*{}'.format('|'.join(['jessica', 'michelle', 'computer', 'ass',
       'george', 'klaster', 'starwars', 'daniel', 'ranger',
       'hockey', '2000', 'fuck', 'sunshine', 'batman', 'soccer',
       'hunter', 'asdfgh', 'zxcvbnm', 'jennifer', 'jordan', 'killer',
       '123qwe', 'qazwsx', '121212',  
       'pussy',  'mustang', 'qwertyuiop', '666666', 'master',
       'shadow', 'letmein', 'football', 'baseball', '123123',
       'dragon', ])),
r'^19',
         ] + [f'^.*{i}$' for i in range(10)]+[f'^{i}' for i in range(10)]+\
[f'^{i}' for i in range(10)]

In [38]:
# pd.Series(list(''.join(df['Password'].iloc[:10000].values))).value_counts()

In [39]:
for regex in regexs:
    print(regex,end=' ')
    print(df['Password'].iloc[:10000].apply(lambda x: re.match(regex, x) is not None).astype(int).mean())

^.*[a-z]$ 0.463
^.*[a-z] 0.8421
^[a-z] 0.6281
^.*[A-Z]$ 0.0539
^.*[A-Z] 0.1673
^[A-Z] 0.1053
^.*[0-9]$ 0.4793
^.*[0-9] 0.6809
^[0-9] 0.2656
^Q 0.0018
^q 0.0055
^.*123 0.0184
^.*12 0.0515
^.*abc 0.0007
^.*ab 0.0123
^.*19..$ 0.0295
^.*jessica|michelle|computer|ass|george|klaster|starwars|daniel|ranger|hockey|2000|fuck|sunshine|batman|soccer|hunter|asdfgh|zxcvbnm|jennifer|jordan|killer|123qwe|qazwsx|121212|pussy|mustang|qwertyuiop|666666|master|shadow|letmein|football|baseball|123123|dragon 0.0083
^19 0.0106
^.*0$ 0.0464
^.*1$ 0.0744
^.*2$ 0.0495
^.*3$ 0.0516
^.*4$ 0.0399
^.*5$ 0.0441
^.*6$ 0.0402
^.*7$ 0.0456
^.*8$ 0.0423
^.*9$ 0.0453
^0 0.0291
^1 0.0592
^2 0.0375
^3 0.0255
^4 0.0194
^5 0.0214
^6 0.0161
^7 0.0186
^8 0.0204
^9 0.0184
^0 0.0291
^1 0.0592
^2 0.0375
^3 0.0255
^4 0.0194
^5 0.0214
^6 0.0161
^7 0.0186
^8 0.0204
^9 0.0184

In [40]:
for regex in regexs:
    print(regex,end=' ')
    df[regex] = df['Password'].apply(lambda x: re.match(regex, x) is not None).astype(int)

^.*[a-z]$ ^.*[a-z] ^[a-z] ^.*[A-Z]$ ^.*[A-Z] ^[A-Z] ^.*[0-9]$ ^.*[0-9] ^[0-9] ^Q ^q ^.*123 ^.*12 ^.*abc ^.*ab ^.*19..$ ^.*jessica|michelle|computer|ass|george|klaster|starwars|daniel|ranger|hockey|2000|fuck|sunshine|batman|soccer|hunter|asdfgh|zxcvbnm|jennifer|jordan|killer|123qwe|qazwsx|121212|pussy|mustang|qwertyuiop|666666|master|shadow|letmein|football|baseball|123123|dragon ^19 ^.*0$ ^.*1$ ^.*2$ ^.*3$ ^.*4$ ^.*5$ ^.*6$ ^.*7$ ^.*8$ ^.*9$ ^0 ^1 ^2 ^3 ^4 ^5 ^6 ^7 ^8 ^9 ^0 ^1 ^2 ^3 ^4 ^5 ^6 ^7 ^8 ^9

In [41]:
df[['Password','Times']].dropna().sort_values('Times')['Password'].values[-50:]

array(['zxcvbn', '1111', 'jessica', 'michelle', 'computer', 'asshole',
       'george', '112233', 'klaster', 'starwars', 'daniel', 'ranger',
       'hockey', '2000', 'fuckme', 'sunshine', 'batman', 'soccer',
       'hunter', 'asdfgh', 'zxcvbnm', 'jennifer', 'jordan', 'killer',
       '123qwe', 'qazwsx', '121212', 'fuckyou', '7777777', '1qaz2wsx',
       'pussy', '654321', 'mustang', 'qwertyuiop', '666666', 'master',
       'shadow', 'letmein', 'football', 'abc123', 'baseball', '123123',
       'dragon', '1234567', '111111', '1234', '12345', '123456789',
       'qwerty', '123456'], dtype=object)

In [42]:
df['unique_symbols'] = df['Password'].apply(lambda x: len(set(x)))
df['len'] = df['Password'].apply(lambda x: len(x))
df['unique_symbols/len']=df['unique_symbols']/df['len']

In [43]:
features = regexs.copy()
features.append('unique_symbols')
features.append('len')
features.append('unique_symbols/len')
features.append('mega_freq')

for pattern in ['[a-z]','[A-Z]','[0-9]',"[$&+,:;=?@#|'<>.^*()%!-]"]:
    df[pattern+'_count'] = df['Password'].apply(lambda x: len(re.findall(pattern,x)))
    features.append(pattern+'_count')

In [44]:
df['[a-z]'+'_count'].value_counts()

0     839625
6     767353
5     590078
7     529281
4     522919
8     501507
3     382781
2     245387
1     208242
9     199410
10    131620
11     79286
12     64930
13     39658
14     31519
15     20125
16     13829
17      7023
18      5285
19      3295
20      2398
21      1344
22       956
23       484
24       416
25       180
26       163
27        81
28        75
29        41
30        27
31        12
33        10
32         9
36         6
38         5
34         4
39         2
40         2
35         1
Name: [a-z]_count, dtype: int64

In [45]:
from sklearn.ensemble import RandomForestRegressor

/home/tserekh/env/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [46]:
reg = RandomForestRegressor(n_estimators=100,n_jobs=-1,verbose=1)

In [47]:
filt = df['Times'].notnull()
df_train_val = df[filt]
df_test = df[filt==False]

In [48]:
df_train_val['Times_log'] = np.log(df_train_val['Times']+1)

/home/tserekh/env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
df_train_val = df[filt]
df_test = df[filt==False]

In [50]:
from sklearn.model_selection import KFold

In [51]:
target = 'Times_log'

In [52]:
kf = KFold(n_splits=3,shuffle=True,random_state=42)

In [53]:
df_train_val['Times_log']=np.log(df_train_val['Times']+1)

/home/tserekh/env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
from lightgbm import LGBMRegressor as lgbm_reg

In [55]:
features

['^.*[a-z]$',
 '^.*[a-z]',
 '^[a-z]',
 '^.*[A-Z]$',
 '^.*[A-Z]',
 '^[A-Z]',
 '^.*[0-9]$',
 '^.*[0-9]',
 '^[0-9]',
 '^Q',
 '^q',
 '^.*123',
 '^.*12',
 '^.*abc',
 '^.*ab',
 '^.*19..$',
 '^.*jessica|michelle|computer|ass|george|klaster|starwars|daniel|ranger|hockey|2000|fuck|sunshine|batman|soccer|hunter|asdfgh|zxcvbnm|jennifer|jordan|killer|123qwe|qazwsx|121212|pussy|mustang|qwertyuiop|666666|master|shadow|letmein|football|baseball|123123|dragon',
 '^19',
 '^.*0$',
 '^.*1$',
 '^.*2$',
 '^.*3$',
 '^.*4$',
 '^.*5$',
 '^.*6$',
 '^.*7$',
 '^.*8$',
 '^.*9$',
 '^0',
 '^1',
 '^2',
 '^3',
 '^4',
 '^5',
 '^6',
 '^7',
 '^8',
 '^9',
 '^0',
 '^1',
 '^2',
 '^3',
 '^4',
 '^5',
 '^6',
 '^7',
 '^8',
 '^9',
 'unique_symbols',
 'len',
 'unique_symbols/len',
 'mega_freq',
 '[a-z]_count',
 '[A-Z]_count',
 '[0-9]_count',
 "[$&+,:;=?@#|'<>.^*()%!-]_count"]

In [66]:
df_submit = df_sample[['Id']].copy()
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=100,verbose=1,n_jobs=-1)
# for learning_rate in 10.0**np.arange(-1.5,-0.1,0.2):
learning_rate=0.4
reg = lgbm_reg(verbose=1,learning_rate=learning_rate)
print()
print(learning_rate)
i = 0
for train_index, val_index in  kf.split(df_train_val):
#     break

    X_train, X_val = df_train_val.iloc[train_index][features].values, df_train_val.iloc[val_index][features].values
    y_train, y_val = df_train_val.iloc[train_index][target].values, df_train_val.iloc[val_index][target].values

    y_val.shape

    reg.fit(X_train,y_train)

    y_val_pred = reg.predict(X_val)

    print(mean_squared_error(y_val,y_val_pred)**0.5)
    if True:
        df_submit[f'fold{i}']=reg.predict(df_test[features])
    i+=1

0.4
0.3634471217165673
0.36480942840447855
0.36358784662576515

In [67]:
pd.DataFrame([list(features),list(reg.feature_importances_)]).T.sort_values(1,ascending=False)

                                                    0    1
51                                          mega_freq  660
49                                                len  414
48                                     unique_symbols  283
50                                 unique_symbols/len  251
54                                        [0-9]_count  202
52                                        [a-z]_count  195
15                                           ^.*19..$   77
11                                             ^.*123   68
12                                              ^.*12   54
29                                                 ^1   53
19                                              ^.*1$   52
2                                              ^[a-z]   50
4                                            ^.*[A-Z]   47
7                                            ^.*[0-9]   45
16  ^.*jessica|michelle|computer|ass|george|klaste...   41
1                                            ^.*[a-z]   38
6                                           ^.*[0-9]$   36
18                                              ^.*0$   34
53                                        [A-Z]_count   33
30                                                 ^2   32
17                                                ^19   26
0                                           ^.*[a-z]$   25
28                                                 ^0   24
20                                              ^.*2$   23
55                     [$&+,:;=?@#|'<>.^*()%!-]_count   20
22                                              ^.*4$   18
10                                                 ^q   18
27                                              ^.*9$   17
21                                              ^.*3$   17
26                                              ^.*8$   13
8                                              ^[0-9]   13
37                                                 ^9   13
25                                              ^.*7$   11
35                                                 ^7   10
36                                                 ^8   10
23                                              ^.*5$   10
31                                                 ^3   10
32                                                 ^4    9
24                                              ^.*6$    8
14                                              ^.*ab    8
33                                                 ^5    8
34                                                 ^6    7
5                                              ^[A-Z]    7
3                                           ^.*[A-Z]$    6
13                                             ^.*abc    3
9                                                  ^Q    1
47                                                 ^9    0
46                                                 ^8    0
45                                                 ^7    0
44                                                 ^6    0
43                                                 ^5    0
42                                                 ^4    0
41                                                 ^3    0
40                                                 ^2    0
38                                                 ^0    0
39                                                 ^1    0

In [68]:
df_submit['Times_log'] = df_submit[list(filter(lambda x: 'fold' in x,df_submit.columns))].mean(axis=1)
df_submit['Times']=np.exp(df_submit['Times_log'])-1

In [ ]:
df_submit[['Id','Times']].to_csv('submit3.csv',index=False)

In [70]:
df_submit[['Id','Times']].to_csv('submi4.csv',index=False)